// ----------------------------------------------------------------------------
// Add Modal
// ----------------------------------------------------------------------------

.add-modal-overlay {
  @include z-index(modal);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(23, 24, 30, 0.75);
  overflow-y: scroll;
  padding-bottom: 10px;
}

.add-modal-wrapper {

  @include bp(medium) {
    position: relative;
    margin-left: 200px;
    margin-top: 72px;
  }
}

.add-modal {
  @include span(12);
  margin-top: 20px;
  position: relative;
  background-color: $white;
  border-radius: 4px;
  padding: 20px;

  @include bp(medium) {
    @include span(10);
    @include push(1);
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}

.add-modal__error {
  color: $danger;
  display: inline-block;
  padding-top: 10px;
  font-weight: bold;
}
