// ----------------------------------------------------------------------------
// Calc
// ----------------------------------------------------------------------------


// BREADCRUMB
.calc-breadcrumb {
  @extend .card;
  @include span(12);

  // width: auto;
  padding: 10px;
}

.calc-breadcrumb__link {
  font-weight: 600;
  color: $gray-3;

  &:hover {
    color: $gray-1;
  }
}

.calc-breadcrumb__current {
  font-weight: 600;
  color: $gray-6;
}

.calc-icon--breadcrumb {
  margin-top: -3px;
  margin-right: 10px;
}

// OUTPUT COLUMN
.calc-output {
  margin-bottom: spacing(1);

  &--half {
    @include bp(medium) {
      width: 50%;
      float: left;
    }
  }
}

.calc-output__title {
  margin-bottom: 0;
}

.calc-output__result {
  @include typesize(3);
  font-weight: 600;
}
