// ----------------------------------------------------------------------------
// Equipment Input
// ----------------------------------------------------------------------------

.question-icon {
  display: inline-block;
  color: $white;
  height: 16px;
  width: 16px;
  stroke: currentColor;
  vertical-align: middle;
  fill: $gray-6;
  margin-left: 6px;
}

.equipment-input {

}

.equipment-input__label {
  @extend .h5;
  margin-bottom: spacing(.25);
  display: inline-block;
}
