// ----------------------------------------------------------------------------
// Hop Modal Input
// ----------------------------------------------------------------------------

.fermentable-modal-input {

  @include bp(medium) {
    display: flex;
    justify-content: space-between;
  }
}

.fermentable-custom-input {

  @include bp(medium) {
    display: flex;
  }
}

.fermentable-advanced-input {

  @include bp(medium) {
    display: flex;
    justify-content: space-between;
  }
}

.fermentable-form-group {
  @include clearfix;
  margin-bottom: 20px;
  width: 100%;

  @include bp(medium) {
    width: 24%;
  }
}

.fermentable-form-group__checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;

  @include bp(medium) {
    width: 24%;
    margin-bottom: 0;
  }
}

.fermentable-form-group--checkbox {
  margin-bottom: 0;
  width: 100%;
}

.fermentable-form-group--name {
  @include clearfix;
  width: 100%;
  margin-bottom: 20px;

  @include bp(medium) {
    width: 49.33%;
  }
}

.fermentable-form-group__color,
.fermentable-form-group__potential {
  width: 70%;
}

.fermentable-form-group__unit {
  width: 30%;
}
