// ----------------------------------------------------------------------------
// Hop Modal Input
// ----------------------------------------------------------------------------

.hop-modal-input {
  display: flex;
  justify-content: space-between;
}

.hop-custom-input {
  display: flex;
}

.hop-form-group {
  margin-bottom: 20px;
  width: 19%;
}

.hop-form-group__weight,
.hop-form-group__alpha {
  width: 60%;
}

.hop-form-group__unit {
  width: 40%;
}

.hop-form-group--name {
  width: 59.5%;
  margin-bottom: 20px;
}

.hop-form-group__input-select {
  width: 50%;
}

.hop-form-group__select {
  width: 50%;
}
