// ----------------------------------------------------------------------------
// Ingredient List
// ----------------------------------------------------------------------------

$_table-border: $gray-8;

.ingredient-list-wrap {
  overflow-y: auto;
  height: 250px; // height of ingredient list
  border: 1px solid $_table-border;
  margin-bottom: 20px;

  &.isError {
    border: 1px solid $danger;
  }
}

.ingredient-list__thead {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ingredient-list__tbody {
}

// the header
.ingredient-list {
  width: 100%;
}

.ingredient-list__header {
  background-color: $gray-10;
  border-top: 1px solid $_table-border;
  border-left: 1px solid $_table-border;
  border-right: 1px solid $_table-border;
}

.ingredient-list__header-cell {
  @extend .h5;
  padding: 10px;
  float: left;
}


// the body
.ingredient-list__row {
  border-bottom: 1px solid $_table-border;
  cursor: pointer;

  &:hover {
    background-color: $primary-lightest;
  }

  &.is-active {
    background-color: $primary;
    color: $white;
  }
}
.ingredient-list__cell {
  padding: 10px;
}
