// ----------------------------------------------------------------------------
// Ingredient List
// ----------------------------------------------------------------------------

.ingredient-search input {
  width: 100%;
  border: 2px solid #d0d0d0;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}
