// ----------------------------------------------------------------------------
// Card Input
// ----------------------------------------------------------------------------

.form-group {
  @include span(6 inside no-gutters);
  margin-bottom: spacing(1);
}

.form-group--half {
  @include span(3 inside no-gutters);
  margin-bottom: spacing(1);
}

.form-group--half {
  .form__input--measure {
    width: 80%;
  }

  .form__measure {
    width: 20%;
  }
}

.form-group--left {
  padding-right: 10px;
}

.form-group--right {
  padding-left: 10px;
}

.form-group--inside-left {
  padding-left: 10px;
  padding-right: 10px;
}

.form-group--inside-right {
  padding-right: 0;
  padding-left: 10px;
}
