// ----------------------------------------------------------------------------
// Card Input
// ----------------------------------------------------------------------------

.form-group {
  @include clearfix;
  margin-bottom: spacing(1);
}

.form-group--full {
  // @include span(full);
  @extend .clearfix;
}

.form-group--half {

  @include bp(medium) {
    @include span(6 inside no-gutters);
  }
}

.form-group--quarter {
  @include span(6 inside no-gutters);

  @include bp(medium) {
    @include span(3 inside no-gutters);
  }
}

.form-group--quarter {
  .form__input--measure {
    width: 60%;

    @include bp(medium) {
      width: 80%;
    }
  }

  .form__measure {
    width: 40%;

    @include bp(medium) {
      width: 20%;
    }
  }
}

.form-group--left {

  @include bp(medium) {
    padding-right: 10px;
  }
}

.form-group--right {

  @include bp(medium) {
    padding-left: 10px;
  }
}

.form-group--inside-left {
  padding-right: 10px;

  @include bp(medium) {
    padding-left: 10px;
  }
}

.form-group--inside-right {
  padding-left: 10px;
  padding-right: 0;
}

.question-icon {
  display: inline-block;
  color: $white;
  height: 16px;
  width: 16px;
  stroke: currentColor;
  vertical-align: middle;
  fill: $gray-6;
  margin-left: 6px;
}
