// ----------------------------------------------------------------------------
// Recipe Mash Input
// ----------------------------------------------------------------------------

.mash-recipe-input {
  width: 50%;
}

.form__input--mash {
  width: 60%;
}

.form__measure--mash {
  width: 40%;
}
