// ----------------------------------------------------------------------------
// Hop Modal Input
// ----------------------------------------------------------------------------

.misc-modal-input {
  display: flex;
  justify-content: space-between;
}

.misc-custom-input {
  display: flex;
}

.misc-form-group {
  margin-bottom: 20px;
  width: 32%;
}

.form__input--misc {
  width: 60%;
}

.misc-form-group--name {
  width: 66%;
  margin-bottom: 20px;
}

.misc__select--input {
  width: 40%;
}
