// ----------------------------------------------------------------------------
// Input Table
// ----------------------------------------------------------------------------

$_icon-color: #828282;
$_divider: $divider;

.recipe-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: spacing(1);
}

.recipe-table__header {
  @extend .h5;
  text-transform: uppercase;
  padding-bottom: spacing(.25);
}

.recipe-table__row {
  border-top: 1px solid $_divider;

  &:last-child {
    border-bottom: 1px solid $_divider;
  }
}

.recipe-table__cell {
  padding: spacing(.25) 0;
}

.recipe-table__cell--shrink {
  white-space: nowrap;
  width: 100px;
}

.shrink {
  white-space: nowrap;
}

.recipe-table__icon {
  height: 18px;
  width: 18px;
  display: inline-block;
  stroke: none;
  fill: currentColor;
  vertical-align: middle;
  transition: color $base-time $base-ease;
  cursor: pointer;
}

.recipe-table__icon--edit {
  color: $_icon-color;
  margin-right: 8px;
  &:hover {
    color: $success;
  }
}

.recipe-table__icon--remove {
  color: $_icon-color;
  &:hover {
    color: $danger;
  }
}
