// ----------------------------------------------------------------------------
// Input Table
// ----------------------------------------------------------------------------

.recipe-table {
  width: 100%;
  max-width: 100%;
}

.recipe-table__header {
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 10px;
}

.recipe-table__row {
  border-top: 1px solid #e0e0e0;

  &:last-child {
    border-bottom: 1px solid #e0e0e0;
  }
}

.recipe-table__cell {
  padding: 10px 0;
}

.recipe-table__cell--shrink {
  white-space: nowrap;
  width: 100px;
}

.shrink {
  white-space: nowrap;
}
