// ----------------------------------------------------------------------------
// Stats (on edit recipe page)
// ----------------------------------------------------------------------------

.stat {
  @include span(2 of 4 inside no-gutters);
  margin-bottom: 20px;
}

.stat__title {
  margin-bottom: 0;
}

.stat__content {
  @include typesize(3);
  font-weight: 700;
}

.small-stats {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.small-stats__item {
  border-top: 1px solid $divider;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  font-size: 16px;
}

.small-stats__name {
  padding-right: 10px;
  font-weight: bold;
}
