// ----------------------------------------------------------------------------
// Stats (on edit recipe page)
// ----------------------------------------------------------------------------

.stat {
  @include span(2 of 4 inside no-gutters);
  margin-bottom: 20px;
}

.stat__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.stat__content {
  font-weight: 700;
  font-size: 36px;
}
