// ----------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------

$_bg-color: $white;

.header {
  @include z-index(header);
  height: $header-height-sm;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $_bg-color;
  padding: 0 $gutter 0 80px;
  box-shadow: rgba(23, 24, 30, 0.2) 0 1px 3px 0;

  @include bp(medium) {
    left: $sidebar-width-md;
    padding-left: $gutter;
    height: $header-height
  }

  @include bp(large) {
    left: $sidebar-width;
  }
}

.header__title {
  line-height: $header-height-sm;
  font-weight: 700;
  margin: 0;
  display: inline-block;

  @include bp(medium) {
    line-height: $header-height;
  }
}

// TEMPORARY
.signout {
  float: right;
}
