// ----------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------

$_bg-color: $white;
$_sidebar-height: spacing(3);

.header {
  @include z-index(header);
  height: $_sidebar-height;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $_bg-color;
  padding: 0 $gutter;
  box-shadow: rgba(23, 24, 30, 0.2) 0 1px 3px 0;
}

.header__title {
  line-height: $_sidebar-height;
  font-weight: 700;
  margin: 0;
}
