// ----------------------------------------------------------------------------
// Main
// ---------------------------------------------------------------------------

$_bg-color: $gray-9;

.main {
  min-height: 100vh;
  margin-left: 0;
  background-color: $_bg-color;
  padding-top: $header-height-sm;
  position: relative;

  @include bp(medium) {
    margin-left: $sidebar-width-md;
    padding-top: $header-height;
  }

  @include bp(large) {
    margin-left: $sidebar-width;
  }
}
