// ----------------------------------------------------------------------------
// Main
// ---------------------------------------------------------------------------

$_bg-color: $gray-9;
$_sidebar-width: 200px;
$_sidebar-height: 72px;

.main {
  min-height: 100vh;
  margin-left: $sidebar-width;
  background-color: $_bg-color;
  padding-top: $header-height;
  position: relative;
}
