// ----------------------------------------------------------------------------
// Sidebar
// ----------------------------------------------------------------------------

// variables
$_sidebar-width: $sidebar-width;
$_bg-color: $gray-2;

.sidebar {
  width: $_sidebar-width;
  position: fixed;
  height: 100vh;
  background-color: $_bg-color;
  top: 0;
  left: 0;
}

.sidebar__logo {
  width: 120px;
  display: block;
  margin: 35px auto 0;
}

.sidebar__button {
  width: ($_sidebar-width - 40);
  margin-left: 20px;
  margin-right: 20px;
  color: $white;
  border-color: $primary;

  &:hover,
  &:focus {
    background-color: $primary-dark;
    border-color: $primary-dark;
    color: $white;
  }

  &:focus {
    background-color: transparent;
  }
}
